/* Reset das configuracoes de margem do HTML*/
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Muda a cor do background e o tipo de fonte do corpo da pagina*/
body
{
  background:rgb(56, 82, 95);
  color: whitesmoke;
  font-family: 'Courier Prime', monospace;
  height: 100vh;
  font-size: 12;
}

/*Excecoes de estilo para telas maiores*/
@media (min-width:400px)
{
  body
  {
    font-size: 14px;
  }
}

@media (min-width:600px)
{
  body
  {
    font-size: 16px;
  }
}

header
{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Muda a cor do menu do topo da pagina*/
.menu
{
  background-color: rgba(183, 215, 231, 0.774);;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

/*Modifica a exibicao dos links dos menu nav*/
.menu a
{
  padding: 10px 10px;
  display: block;
  transition: background-color 100ms, color 100ms;
}

.menu a:hover
{
  background-color: #002c47;
  color: whitesmoke;
}

/*transforma a lista de linhas em colunas*/
.menu ul
{
  display: flex;
  justify-content: space-between;
  padding-right: 1em;
  padding-left: 0.5em;
}

/*Tira os pontos da lista do "menu"*/
.menu li
{
  list-style: none;
}

/*Retira o underline de links*/
a
{
  color: #002c47;
  text-decoration: none;
}

/*Adiciona o underline nos links quando passar o mouse por cima deles*/
a:hover
{
  text-decoration: underline;
}

.titulo-header
{
  opacity: 0;
  /*transition: opacity 500ms;*/
  animation: linear 2s animationTitulo forwards;
}


@keyframes animationTitulo
{
  to
  {
    opacity: 1;
  }
}

.sobre a, 
.titulo-header a
{
  color: rgb(161, 185, 184);
  transition: background-color 100ms, color 100ms;
}

.sobre a:hover,
.sobre a:active,
.titulo-header a:active,
.titulo-header a:hover
{
  color: #002c47;
  text-decoration: underline;
  background-color: whitesmoke;
}

/*Muda a configuração do texto do titilo e subtitutlo do site*/
.site-subtitle,
.site-title
{
  color: whitesmoke;
  text-align: center;
  line-height: 2em;
}

.sobre,
.contato, 
.projeto
{
  padding: 2em;
  min-height: 100vh;
}

@media (min-width: 1200px)
{
  .container
  {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .sobre,
  .contato, 
  .projeto
  {
    padding: 2em;
    min-height: 50vh;  
  }
}

.sobre .avatar
{
  text-align: center;
  margin-left: 2em;
}

@media (min-width:500px)
{
  .sobre .avatar
  {
    float: right;
    margin-left: 2em;
  }
}

.sobre .avatar img
{
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

@media (min-width:850px)
{
  .sobre .avatar img
  {
    height: 240px;
    width: 240px;
  }
}

.projeto .grid a
{
  color: whitesmoke;
}

.sobre h2,
.contato h2, 
.projeto h2
{
  font-size: 2em;
  margin-bottom: 2em;
  line-height: 2em;
}

.projeto p, 
.sobre p
{
  margin-bottom: 1em;
  font-size: 1.2em;
  text-align: justify;
}

.projeto .grid
{
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3,100px);
  justify-content: center;
  align-content: center;
}

.img-projeto 
{
  height: 100px;
  width: 100px;
  transform: scale(1);
  transition: transform 100ms;
}

@media (min-width: 450px)
{
  .projeto .grid
  {
    gap: 1.2em;
    grid-template-columns: repeat(3,120px);
  } 
  .img-projeto 
  {
    height: 120px;
    width: 120px;
  }
}

@media (min-width: 650px)
{
  .projeto .grid
  {
    gap: 50px;
    grid-template-columns: repeat(3,180px);
  } 
  .img-projeto 
  {
    height: 160px;
    width: 160px;
  }
}

@media (min-width: 850px)
{
  .projeto .grid
  {
    gap: 100px;
    grid-template-columns: repeat(3,200px);
  } 
  .img-projeto 
  {
    height: 180px;
    width: 180px;
  }
}

.projeto figure
{
  text-align: center;
}

.img-projeto:hover 
{
  transform: scale(1.2);
}

.contato .icons
{
  text-align: center;
}

.contato .img-icon
{
  color: whitesmoke;
  font-size: 4em;
}

.contato a
{
  color: whitesmoke;
  font-size: 4em;
  transition: text-shadow 100ms;
}

.contato a:active,
.contato a:hover
{
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(245, 245, 245, 0.5);
}

.projeto .item
{
  font-size: 1.4em;
}

.projeto .subitem
{
 margin-left: 2em;
}


/* Inicializa com os textos escondidos*/
.projeto #tcPesquisa,
.projeto #tcEnsino,
.projeto #tcExtensao
{
  display: none;
}
